@import "../../styles/basic"

.basket__wrapper
  background: $grey
  padding-bottom: 100px

.basketTitle
  width: 1110px
  margin: 0 auto
  padding: 15px 0 25px 0

.basket__container
  width: 1110px
  margin: 0 auto
  background: $white
  min-height: 500px
  border: 1px solid $middleGrey
  display: flex

.basket
  width: 830px
  border-right: 1px solid $middleGrey

.basket__warning
  height: 58px
  display: flex
  align-items: center
  border-bottom: 1px solid $middleGrey
  color: $darkGrey
  font-size: 12px
  line-height: 14px
  letter-spacing: 0.009em
  text-align: left

.basket__warningImg
  background: url("../../assets/img/alert.png")
  width: 16px
  height: 16px
  margin-left: 15px
  margin-right: 10px

.basket__trash
  height: 48px
  display: flex
  align-items: center
  justify-content: flex-end
  p
    color: $red
    font-size: 15px
    line-height: 18px
    letter-spacing: 0.009em
    text-align: left
    padding-right: 30px

.basket__trash:hover
  cursor: pointer

.basket__trashImg
  background: url("../../assets/img/trash.png")
  width: 18px
  height: 18px
  margin-right: 15px

.basket__order
  width: 280px

.basket__orderTitle
  height: 58px
  display: flex
  align-items: center
  border-bottom: 1px solid $middleGrey
  font-size: 18px
  font-weight: 500
  line-height: 22px
  letter-spacing: 1px
  text-align: left
  padding-left: 20px

.basket__orderForm
  display: flex
  flex-direction: column

