@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Fira Sans", sans-serif;
}

button:active {
  transform: scale(1.1);
}

button:hover {
  background: #fe7273;
}

Link:visited {
  text-decoration: none;
  color: #000000;
}

.basket__wrapper {
  background: #f2f2f2;
  padding-bottom: 100px;
}

.basketTitle {
  width: 1110px;
  margin: 0 auto;
  padding: 15px 0 32px 0;
}

.basket__container {
  width: 1110px;
  margin: 0 auto;
  background: #ffffff;
  min-height: 500px;
  border: 1px solid #e6e6e6;
  display: flex;
}

.basket {
  width: 830px;
  border-right: 1px solid #e6e6e6;
}

.basket__warning {
  height: 58px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  color: #c6c6c6;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.009em;
  text-align: left;
}

.basket__warningImg {
  background: url("../../assets/img/alert.png");
  width: 16px;
  height: 16px;
  margin-left: 15px;
  margin-right: 10px;
}

.basket__trash {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.basket__trash p {
  color: #c83e33;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.009em;
  text-align: left;
  padding-right: 30px;
}

.basket__trash:hover {
  cursor: pointer;
}

.basket__trashImg {
  background: url("../../assets/img/trash.png");
  width: 18px;
  height: 18px;
  margin-right: 15px;
}

.basket__order {
  width: 280px;
}

.basket__orderTitle {
  height: 58px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: left;
  padding-left: 20px;
}

.basket__orderForm {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  padding-left: 20px;
  position: relative;
}
.basket__orderForm label {
  margin-top: 20px;
  color: #b3b3b3;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.009em;
  text-align: left;
  margin-bottom: -17px;
}
.basket__orderForm input {
  width: 240px;
  border-bottom: 1px solid #b3b3b3;
  color: #000000;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.009em;
  text-align: left;
  height: 33px;
  margin-top: 18px;
  padding-left: 30px;
  font-weight: 400;
}
.basket__orderForm input::placeholder {
  color: #b3b3b3;
  font-weight: 300;
}
.basket__orderForm button {
  margin-top: 21px;
  height: 42px;
  width: 240px;
  border-radius: 4px;
  background: #c83e33;
  color: #ffffff;
  position: relative;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.009em;
}

.basket__orderFormImg {
  position: absolute;
}

#userForm {
  background: url("../../assets/img/order/user.png");
  width: 14px;
  height: 14px;
  top: 62px;
  left: 24px;
  opacity: 0.6;
}

#userPhone {
  background: url("../../assets/img/order/phone.png");
  width: 14px;
  height: 14px;
  top: 113px;
  left: 24px;
}

#userEmail {
  background: url("../../assets/img/order/sign.png");
  width: 14px;
  height: 14px;
  top: 168px;
  left: 24px;
}

#userCase {
  background: url("../../assets/img/order/briefcase.png");
  width: 14px;
  height: 14px;
  top: 215px;
  left: 24px;
}

.basket__formIMG {
  background: url("../../assets/img/order/shopping.png");
  width: 18px;
  height: 18px;
  position: absolute;
  left: 32px;
}

.basket__info {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.009em;
  text-align: left;
  color: #b3b3b3;
}

.basket__price {
  margin-top: 43px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket__priceQuantity {
  color: #c83e33;
}

.basketCommercial {
  height: 62px;
  width: 240px;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #c83e33;
  color: #c83e33;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.009em;
  margin-top: 15px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.basketCommercial p {
  margin-right: 58px;
  width: 106px;
}

.basketCommercial:hover {
  background: #f2f2f2;
}

.basketCommercial__img {
  background: url("../../assets/img/order/file.png") #faeceb 50% no-repeat;
  padding: 6px 4px;
  background-size: 18px;
  width: 26px;
  height: 30px;
  margin-left: 28px;
  border-radius: 2px;
}

.basketCommercial__imgFile {
  background: url("../../assets/img/order/download.png") #ffffff 50% no-repeat;
  background-size: 7px;
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 8px;
  left: 43px;
  top: 32px;
}

/*# sourceMappingURL=Basket.css.map */
