@import "../../styles/basic"

.card__wrapper
  height: 425px
  width: 280px
  border: 1px solid $middleGrey
  position: relative

.card__wrapper:hover
  box-shadow: 0 15px 14px 2px $middleGrey

.card
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 380px
  margin-top: 45px
  margin-left: 20px
  position: relative

.cardImg
  height: 200px
  display: flex
  justify-content: center
  img
    margin-top: 15px
    max-width: 200px


.cardSales
  display: flex
  flex-direction: column
  justify-content: space-between
  top: -30px
  width: 230px
  position: absolute
  left: -7px
  height: 92px

.cardSales__type
  color: $white
  font-size: 10px
  line-height: 12px
  letter-spacing: 0.009em
  text-align: center
  padding: 5px 10px
  border-radius: 50px
  height: 21px

.hit
  background: $pink
  width: 54px

.sale
  background: $orange
  width: 62px

.promo
  background: $green
  width: 57px

.cardFavourites
  position: absolute
  @include flex-space-between
  width: 93px
  top: -30px
  right: 20px
  p
    font-size: 12px
    line-height: 14px
    letter-spacing: 0.009em
    text-align: right
    color: $greyForPages

.cardFavouritesIMG
  background: url("../../assets/img/star-grey.png")
  width: 13px
  height: 13px

.cardGost
  font-size: 10px
  line-height: 12px
  letter-spacing: 0.009em
  text-align: center
  color: $gost
  background: $peach
  border-radius: 2px
  width: 83px
  height: 20px
  @include flex-center
  margin-top: 30px
  margin-bottom: 15px

.cardName
  font-size: 18px
  line-height: 22px
  letter-spacing: 0.009em
  text-align: left
  width: 250px

.cardPrice
  font-size: 15px
  font-weight: 700
  line-height: 18px
  letter-spacing: 0.009em
  text-align: left

.cardPriceBasket
  @include flex-space-between
  height: 20px
  margin-bottom: 30px
  .cardPrice__count
    margin-right: 20px

.cardHover
  height: 134px
  width: 279px
  background: $white
  position: absolute
  top: 409px
  z-index: 5
  border: 1px solid $middleGrey
  border-top: 0
  box-shadow: 0 15px 14px 2px $middleGrey
  @include flex-space-between
  flex-direction: column
  button
    height: 42px
    width: 240px
    border-radius: 4px

.cardHover__buttonShopping
  background: $gost
  color: $white
  @include flex-center
  margin-top: 4px

.cardHover__buttonShopping__img
  background: url("../../assets/img/plus.png") no-repeat 50%
  width: 18px
  height: 18px
  margin-right: 15px

.cardHover__buttonMore
  background: $middleGrey
  color: $black
  margin-top: 15px
  margin-bottom: 30px

.cardHover__buttonMore:hover
  background: $grey



