@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Fira Sans", sans-serif;
}

button:active {
  transform: scale(1.1);
}

button:hover {
  background: #fe7273;
}

Link:visited {
  text-decoration: none;
  color: #000000;
}

.card__wrapper {
  height: 425px;
  width: 280px;
  border: 1px solid #e6e6e6;
  position: relative;
}

.card__wrapper:hover {
  box-shadow: 0 15px 14px 2px #e6e6e6;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 380px;
  margin-top: 45px;
  margin-left: 20px;
  position: relative;
}

.cardImg {
  height: 200px;
  display: flex;
  justify-content: center;
}
.cardImg img {
  margin-top: 15px;
}

.cardSales {
  display: flex;
  flex-direction: column;
  top: -30px;
  width: 230px;
  position: absolute;
  left: -7px;
}

.cardSales__type {
  color: #ffffff;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.009em;
  text-align: center;
  padding: 5px 10px;
  border-radius: 50px;
  height: 21px;
}

.hit {
  background: #fe7273;
  width: 54px;
}

.promo {
  background: #25ae60;
  width: 57px;
  margin-top: 15px;
}

.cardFavourites {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93px;
  top: -30px;
  right: 20px;
}
.cardFavourites p {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.009em;
  text-align: right;
  color: #b3b3b3;
}

.cardFavouritesIMG {
  background: url("../../assets/img/star-grey.png");
  width: 13px;
  height: 13px;
}

.cardGost {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.009em;
  text-align: center;
  color: #c93e33;
  background: #faeceb;
  border-radius: 2px;
  width: 83px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.cardName {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.009em;
  text-align: left;
  width: 239px;
}

.cardPrice {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.009em;
  text-align: left;
}

.cardPriceBasket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  margin-bottom: 30px;
}
.cardPriceBasket .cardPrice__count {
  margin-right: 20px;
}

.cardHover {
  height: 134px;
  width: 279px;
  background: #ffffff;
  position: absolute;
  top: 409px;
  z-index: 5;
  border: 1px solid #e6e6e6;
  border-top: 0;
  box-shadow: 0 15px 14px 2px #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.cardHover button {
  height: 42px;
  width: 240px;
  border-radius: 4px;
}

.cardHover__buttonShopping {
  background: #c93e33;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}

.cardHover__buttonShopping__img {
  background: url("../../assets/img/order/shopping.png");
  width: 18px;
  height: 18px;
  margin-right: 15px;
}

.cardHover__buttonMore {
  background: #e6e6e6;
  color: #000000;
  margin-top: 15px;
  margin-bottom: 30px;
}

.cardHover__buttonMore:hover {
  background: #f2f2f2;
}

/*# sourceMappingURL=Card.css.map */
