@import "../../styles/basic"

.mainPage__wrapper
  background: $grey
  padding-bottom: 40px+68px

.mainPage
  width: 1110px
  margin: 0 auto

.mainPage__title
  padding-top: 20px
  height: 77px
  margin: 0 auto 35px auto
  display: flex
  flex-direction: column

.mainPage__title__description
  color: $greyForPages
  @include flex-space-between
  width: 340px
  font-size: 12px
  font-weight: 300
  line-height: 14px
  letter-spacing: 0.009em
  text-align: left
  p:last-child
    color: $black
    font-weight: 500

.mainPage__nav
  @include flex-space-between

.mainPage__return
  @include flex-space-between
  width: 390px
  margin-top: 13px

h3
  font-size: 30px
  font-weight: 500
  line-height: 36px
  letter-spacing: 1px
  text-align: left

.mainPage__sort
  width: 220px
  @include flex-space-between
  font-size: 12px
  line-height: 14px
  letter-spacing: 0.009em
  text-align: left

.mainPage__sort__popular
  @include flex-space-between
  width: 145px
  color: $black
  font-weight: 500

.mainPage__sort-img
  background-image: url("../../assets/img/sort.png")
  width: 16px
  height: 16px

.mainPage__sort__icons
  @include flex-space-between
  width: 47px
  position: relative

.mainPage__block-img
  background: url("../../assets/img/stroke.png") no-repeat $red 50%
  background-size: 12px
  height: 22px
  width: 22px
  border-radius: 11px
  position: absolute
  z-index: 5

.mainPage__list-img
  background: url("../../assets/img/list.png") no-repeat $white 80%
  background-size: 12px
  width: 43px
  height: 18px
  border-radius: 9px

.mainPage__pagination
  display: flex
  align-items: center
  justify-content: flex-end
  padding-top: 27px

.mainPage__pagination__itemsQuantity
  width: 210px
  @include flex-space-between
  font-size: 17px
  line-height: 20px
  letter-spacing: 0.009em
  text-align: left

.mainPage__activeCircle
  color: $red
  background: $white
  border-radius: 14px
  width: 28px
  height: 28px
  @include flex-center

.mainPage__pagination__pages
  color: $greyForPages
  background: $white
  width: 252px
  height: 35px
  @include flex-center
  margin-left: 140px
  div
    width: 100%
    height: 35px
    @include flex-center
    border: 1px solid $middleGrey

.mainPage__pagination__pages__active
  color: $black

.mainPage__pagination__show
  font-size: 15px
  line-height: 18px
  letter-spacing: 0.009em
  text-align: right
  color: $red
  margin-left: 42px









.mainPage__description
  padding-top: 30px
  height: 312px
  p
    font-size: 15px
    line-height: 18px
    letter-spacing: 0.009em
    text-align: left
    margin-top: 15px

.mainPage__description__title
  font-size: 18px
  font-weight: 700
  line-height: 22px
  letter-spacing: 0.009em
  text-align: left

.mainPage__description__hide
  color: $red
  display: flex
  align-items: center
  justify-content: flex-start
  margin-top: 15px
  p
    margin: 0

.mainPage__description__hide__img
  background-image: url("../../assets/img/down.png")
  width: 8px
  height: 8px
  transform: rotate(180deg)
  margin-left: 3px
