@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap");
* {
  font-family: "Fira Sans", sans-serif;
}

button:active {
  transform: scale(1.1);
}

button:hover {
  background: #fe7273;
}

Link:visited {
  text-decoration: none;
  color: #000000;
}

.mainPage__wrapper {
  background: #f2f2f2;
  padding-bottom: 108px;
}

.mainPage {
  width: 1110px;
  margin: 0 auto;
}

.mainPage__title {
  padding-top: 20px;
  height: 77px;
  margin: 0 auto 35px auto;
  display: flex;
  flex-direction: column;
}

.mainPage__title__description {
  color: #b3b3b3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0.009em;
  text-align: left;
}
.mainPage__title__description p:last-child {
  color: #000000;
  font-weight: 500;
}

.mainPage__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainPage__return {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 390px;
  margin-top: 13px;
}

h3 {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 1px;
  text-align: left;
}

.mainPage__sort {
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.009em;
  text-align: left;
}

.mainPage__sort__popular {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 145px;
  color: #000000;
  font-weight: 500;
}

.mainPage__sort-img {
  background-image: url("../../assets/img/sort.png");
  width: 16px;
  height: 16px;
}

.mainPage__sort__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 47px;
  position: relative;
}

.mainPage__block-img {
  background: url("../../assets/img/stroke.png") no-repeat #c83e33 50%;
  background-size: 12px;
  height: 22px;
  width: 22px;
  border-radius: 11px;
  position: absolute;
  z-index: 5;
}

.mainPage__list-img {
  background: url("../../assets/img/list.png") no-repeat #ffffff 80%;
  background-size: 12px;
  width: 43px;
  height: 18px;
  border-radius: 9px;
}

.mainPage__pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 27px;
}

.mainPage__pagination__itemsQuantity {
  width: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.009em;
  text-align: left;
}

.mainPage__activeCircle {
  color: #c83e33;
  background: #ffffff;
  border-radius: 14px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainPage__pagination__pages {
  color: #b3b3b3;
  background: #ffffff;
  width: 252px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 140px;
}
.mainPage__pagination__pages div {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e6e6e6;
}

.mainPage__pagination__pages__active {
  color: #000000;
}

.mainPage__pagination__show {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.009em;
  text-align: right;
  color: #c83e33;
  margin-left: 42px;
}

.mainPage__description {
  padding-top: 30px;
  height: 312px;
}
.mainPage__description p {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.009em;
  text-align: left;
  margin-top: 15px;
}

.mainPage__description__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.009em;
  text-align: left;
}

.mainPage__description__hide {
  color: #c83e33;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;
}
.mainPage__description__hide p {
  margin: 0;
}

.mainPage__description__hide__img {
  background-image: url("../../assets/img/down.png");
  width: 8px;
  height: 8px;
  transform: rotate(180deg);
  margin-left: 3px;
}

/*# sourceMappingURL=MainPage.css.map */
